<%- include header %>
<form method="post">
  username：  <input type="text" name="name"/><br />
  password：    <input type="password" name="password"/><br />
  assure_password：<input type="password" name="password-repeat"/><br />

</form>

<%- include footer %>
